/vendor/
/node_modules/
/public/build/
/public/hot
/tailwind.config.d.ts
/vite.config.d.ts
/vitest.config.d.ts
/.phpunit.cache/
/.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/*
!/storage/framework/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
composer.lock
.idea/
.vscode/
.env
.env.local
.env.*.local
*.log
